.footer-social-icons-wrap {
	padding: 2em 0;
	border-top: 1px solid;
	@include border-color(--light-border-color);
	@include background(--page-background-color);
}

.footer-social-icons .social-icons-menu {
	text-align: center;
}

.footer-social-icons .social-icons-menu li {
	display: inline-block;
	float: none;
	margin: 0;
}

.footer-social-icons .social-icons-menu li a::before {
	display: inline-block;
	@include color(--text-color);
	font-size: 32px;
}

.footer-social-icons .social-icons-menu li a:hover::before {
	@include color(--link-color);
}
