.footer-social-icons-wrap {
	padding: 2em 0;
	border-top: 1px solid;
	@include border-color(--light-border-color);
	@include background(--page-background-color);
}

.footer-social-icons-wrap .social-icons-menu {
	justify-content: center;
}

.footer-social-icons-wrap .social-icons-navigation .social-icons-menu li a {
	@include color(--text-color);
}

.footer-social-icons-wrap .social-icons-navigation .social-icons-menu li a:hover,
.footer-social-icons-wrap .social-icons-navigation .social-icons-menu li a:active {
	@include color(--link-color);
}

.footer-social-icons-wrap .social-icons-navigation .social-icons-menu li a .icon {
	width: 30px;
	height: 30px;
}
