@use "../_mixins";

.social-icons-navigation .social-icons-menu {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

.social-icons-navigation .social-icons-menu li {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

.social-icons-navigation .social-icons-menu li a {
	display: flex;
	margin: 0;
	padding: 0.75rem;
	@include mixins.color(--header-bar-text-color);
}

.social-icons-navigation .social-icons-menu li a:hover,
.social-icons-navigation .social-icons-menu li a:active {
	@include mixins.color(--header-bar-text-hover-color);
	text-decoration: none;
}

.social-icons-navigation .social-icons-menu li a .icon {
	margin: 0;
	width: 18px;
	height: 18px;
	vertical-align: top;
	fill: currentColor;
}

/* Header Social Icons */
.header-bar .social-icons-navigation .social-icons-menu li a {
	padding: 0.65em;
}
